
body {
    background-image: linear-gradient(rgb(148, 212, 148), rgb(140, 195, 202));
  }
  h1 {
    color:rgb(0, 0, 0);
    font-size: 50px;
  }
  h2{
    color:black;
    font-size: 30px;
  }
  
  p {
    color: #000000;
    border:darksalmon 3px;
    font-size: 30px;
  }

  article {
      text-align: center;
      font-size: 30px;
      
  }

  #quote {
    text-align: left;
    font-size: 30px;
    float: right;
    padding-right: 5px;
    border: 3px solid green;
    border-radius: 10px;

  }
  
 header {
    color:rgb(34, 116, 77);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150px;
    text-align: center;
    border: salmon;
}

#navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  }


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }
        
  li a:hover {
    color: black;
    background-color: rgb(34, 116, 77);
    }
.active{
  color: black;
    background-color: rgb(34, 116, 77);
    float: left;
    font-size: 30px;
}
.nav{
  float: left;
  font-size: 30px;
}

dl {
  color:black;
  font-size: 30px;
  border: #88B04B;
  text-align: left;
    }

#hobbies{
  font-size: 30px;
}
.portfolio{
  font-size: 30px;
}